<h1>Add a New Brand</h1>

<form action="/stores" method="post">
	<div class="form-group">
		<label for="brand_name">Brand Name</label>
		<br>
		<input id="brand_name" name="brand_name" type="text">
	</div>
	<button>Add</button>
</form>