<div class="index">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
      <li data-target="#carousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/images/d-ng-tr-n-qu-c-104956.jpg" alt="..." class="carousel-images">
        <div class="carousel-caption">
          <h2>Men's Shoes</h2>
        </div>
      </div>
      <div class="item">
        <img src="/images/allyson-johnson-73023.jpg" alt="..." class="carousel-images">
        <div class="carousel-caption">
          <h2>Women's Shoes</h2>
        </div>
      </div>
      <div class="item">
        <img src="/images/andrew-branch-135489.jpg" alt="..." class="carousel-images">
        <div class="carousel-caption">
          <h2>Children's Shoes</h2>
        </div>
      </div>
      <div class="item">
        <img src="/images/kristian-olsen-113903.jpg" alt="..." class="carousel-images">
        <div class="carousel-caption">
          <h2>Sport Shoes</h2>
        </div>
      </div>
    </div>
  </div>
</div>