<h1>Add a New Store</h1>

<form action="/stores" method="post">
	<div class="form-group">
		<label for="store_name">Store Name</label>
		<br>
		<input id="store_name" name="store_name" type="text">
	</div>
	<button>Add</button>
</form>